/* Fondo Tecnológico */
body {
    background-color: #0a0b10;
    background-image: 
        linear-gradient(rgba(0, 255, 136, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 255, 136, 0.05) 1px, transparent 1px);
    background-size: 30px 30px;
    color: #00ff88;
    font-family: 'Courier New', monospace;
    display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;
}

/* Tarjeta con Brillo */
.game-card {
    background: rgba(20, 25, 35, 0.9);
    padding: 40px; border-radius: 20px; text-align: center;
    border: 2px solid #00ff88;
    box-shadow: 0 0 20px rgba(0, 255, 136, 0.3);
}

/* Botones Neon */
button {
    font-size: 50px; background: none; border: 1px solid transparent;
    cursor: pointer; transition: 0.3s; margin: 10px;
}
button:hover { transform: scale(1.2); text-shadow: 0 0 15px #00ff88; }

/* Botón Reiniciar */
#btn-reiniciar {
    display: none; 
    margin: 20px auto 0 auto; /* Centra el botón horizontalmente */
    padding: 10px 25px;
    background: #00ff88; 
    color: #000; 
    font-weight: bold;
    border: none; 
    cursor: pointer; 
    text-transform: uppercase;
    font-family: 'Courier New', monospace; 
    border-radius: 5px;
}